<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<title>Django Unchained</title>

		<!-- REQUIRED meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="chronarchitect">

		<!-- Bootsrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Righteous|Work+Sans" rel="stylesheet"> 
		<!-- My CSS -->
		<link rel="stylesheet" href="{%static 'css/blog.css' %}">
	</head>

	<body>
		<nav class="navbar fixed-top navbar-dark">
				<a class="navbar-brand" href="#">Navbar</a>
		</nav>
		<div class="page-header jumbotron text-center"> 
		<div class="container-fluid">	
			<h1><a href="">Chronarchy</a></h1>
			</div>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-sm-12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
