<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<title>Django Unchained</title>

		<!-- REQUIRED meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="chronarchitect">

		<!-- Bootsrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 

		<!-- My CSS -->
		<link rel="stylesheet" href="{%static 'css/blog.css' %}">
	</head>
	<body>
		<h1><a href="">Django Unchained</a></h1>
		<p>The fastest framework to deploy a site</p>
		{% for post in posts %}
		<div>
			<p> published : {{ post.published_date }}</p>
			<h2><a href="">{{ post.title }} </a></h2>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
		{% endfor %}
	</body>
</html>
