{% extends 'blog/base.html' %}

{% block content %}
    <div class="post card">
		<img class="card-img-top" src="/media/{{ post.image }}">
		<div class = "card-body">
			{% if post.published_date %}
			<div class="published-date text-muted">
				<small><p> published : {{ post.published_date }}</p></small>
			</div>
			{% endif %}
			<div class="text-right">
				<a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary"><i class="material-icons">edit</i></a>
			</div>
			<div class="card-title title">
	        	<h2>{{ post.title }}</h2>
			</div>
			<div class="card-text content">
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
			<div class="post-score card-footer">
				{{ post.score }}
			</div>
		</div>
    </div>
{% endblock %}
