.page-header{
	border-radius: 0 0 3px 3px;
	background: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/page-header-bg.jpg");
	background-position: center;
	background-size: cover;
	color: #ffffff;
}

.page-header h1{
	padding-top: 70px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
	font-family: 'Roboto Slab', serif;
	color: #ffffff;
	font-size: 42pt;
	text-decoration: none;
}

.navbar{
	font-family: 'Roboto Slab', serif;
	background: black;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25), 0px 1px 7px rgba(0,0,0,0.22);
}

.post{
	font-family: 'Work-Sans', sans-serif;
	margin-bottom: 10px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post-img{
	max-height: 200px;
	overflow: hidden;
}

.post-img img{
	max-height: initial;
	display: block;
	margin-top: -20%;
}

.post:hover{
	box-shadow: 0 1px 7px rgba(0,0,0,0.25), 0 1px 5px rgba(0,0,0,0.22);
}

.title{
	font-family: 'Roboto Slab', serif;
	color: black;
}
